
.nom {
    margin-left: 25px;
    margin-top: 10px;
    text-align: left;
}

.logodpp{
    margin-top: -30px;
    text-align: center;
}

.urlhm {
    margin-top: -70px;
    text-align: right;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.navigation a {
    display: block;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 5px;
    margin-top: 10px;
    border-radius: 5px;
    width: 20vw;
}
  
.navigation a:first-child {
    background-color: #280c61;
}
  
.navigation a:nth-child(2) {
    background-color: #262f7c;
}
  
.navigation a:nth-child(3) {
    background-color: #3276bf;
}
  
.navigation a:nth-child(4) {
    background-color: #f5c406;
}
  
.navigation a:last-child {
    background-color: #833b3f;
}

.bigimg {
    width: 100vw;
    height: 30vh;
    margin-left: -8px;
}

.content {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.image-section, .text-section {
    flex: 1;
    margin: 10px;
}
.image-section img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}
.text-section {
    background-color: #0066cc;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.text-section h1 {
    margin-top: 0;
}

.footer {
    background-color: #1A237E;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.footer .section {
    margin: 10px;
    min-width: 150px;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}
.footer .social-icons img {
    width: 24px;
    height: 24px;
}
.footer .copyright {
    font-size: 12px;
    margin-top: 20px;
}